.info, .badge{
    font-size: 30px;
    font-weight: bold;
}

.badge{
    text-shadow:none;
}

.title{
    text-align: center;
    font-size: 34px;
}

#game-panel{
    display: none;
}

.word-title{
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

.word{
    user-select: none;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    height: 50px;
}

#input{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

.clearfix {
    clear:both;
}

#game-end{
    display: none;
}

body{
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    transition: all 0.3s ease;
}